@model List<Song>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<br/>
<table class="w3-table-all">
    <thead>
    <tr class="w3-light-grey">
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Url</th>
        <th>Id</th>
        <th>Downloaded?</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var song in Model)
    {
        <tr>
            <td id="song-@song.Id-title">@song.Title</td>
            <td id="song-@song.Id-artist">@song.Artist</td>
            <td id="song-@song.Id-album">@song.Album</td>
            <td id="song-@song.Id-url">
                <a href="@song.Url" target="_blank">@song.Url</a>
            </td>
            <td id="song-@song.Id-id">@song.Id</td>
            <td id="song-@song.Id-downloaded">@(song.Downloaded ? "Yes" : "No")</td>
            <td>
                <button class="w3-button w3-green" onclick="downloadSong(@song.Id)">Download</button> | 
                <a class="w3-button w3-blue" href="/Song/Edit/@song.Id">Edit</a>
            </td>
        </tr>
    }
</table>
<br/>
<button class="w3-green w3-button" onclick="downloadAll()">Download All</button>
<a href="/Song/Add" class="w3-green w3-button">Add Song</a>

@section Scripts {
    <script src="~/js/songs.js"></script>
}